a {
  text-decoration: none;
  color: black;
}

.nav {
  display: flex;
  justify-content: space-between;
}

a.nav__link:hover {
  opacity: 50%;
  transition: ease-in-out;
}

.nav__links {
  display: flex;
  list-style-type: none;
  gap: 20px;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

.nav__logo {
  position: relative;
  left: -50px;
  width: 105px;
  height: 39px;
}
